<div style="min-width:100%;min-height: 200%;">
    <br>
    <div class="container" style="max-width: 450px;background-color: white;">
        <h2 class="textual">Book a Room for your Stay</h2>
        <form #Booking="ngForm">
            <div class="form-group">
                <label for="">Check in date</label>
                <input  type="date" class="form-control">
              </div>
    
              <div class="form-group">
                <label for="">Check out date</label>
                <input  type="date" class="form-control">
              </div>

              <div class="form-group">
                <label for="">Room Type</label>
                <select  class="form-control">
                  <option>Single</option>
                  <option>Double</option>
                  <option>Triple</option>
                  <option>Quad</option>
                </select>
              </div>
              <div class="form-group">
                <label for="">AC or NON AC</label>
                <select  class="form-control">
                  <option>AC</option>
                  <option>NON AC</option>
                  
                </select>
              </div><br>
    <button [disabled]= "Booking.form.invalid" type="submit" class="btn btn-info">Book</button>&nbsp;

      
    
             
        </form>
    
    
    
    </div>
    </div>
    
    